
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Finapp</title>
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href='{% static "assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "assets/img/icon/192x192.png">
    <link rel="stylesheet" href='{% static "assets/css/style.css" %}'>
    <link rel="manifest" href="__manifest.json">
</head>

<body>
    {% block content %}
    a
        {%endblock%}
    {% include 'partials/appbartop.html' %}
    {% include 'partials/appsidebar.html' %}    
    {% include 'partials/appbottom.html' %}


    <!-- ========= JS Files =========  -->
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Isotope -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <!-- Bootstrap -->
    <script src='{% static "assets/js/lib/bootstrap.bundle.min.js" %}'></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src='{% static "assets/js/plugins/splide/splide.min.js" %}'></script>
    <!-- Base Js File -->
    <script src='{% static "assets/js/base.js" %}'></script>

    <script>
        // Add to Home with 2 seconds delay.
        AddtoHome("2000", "once");

    </script>


    
    <script>
        $(document).ready(function () {
            var $grid = $('.grid').isotope({
                itemSelector: '.item',
                layoutMode: 'fitRows'
            });
        
            // Filter buttons
            $('.filter-btn').on('click', function () {
                var filterValue = $(this).attr('data-filter');
                $grid.isotope({ filter: filterValue });
            });
        
            // Add an active class to the selected filter button
            $('.filter-btn').on('click', function () {
                $('.filter-btn').removeClass('active');
                $(this).addClass('active');
            });
        });
        
        


        (function($) {
            $(document).ready(function() {
          
              
                $(".restaurant-link").click(function (event) {
                      const code = $(this).attr('title');
                 
          
                      $.ajax({
                        type: 'POST',
                        url: 'get_brtables/',
                        data: {
                            'code': code
               
                          
                        },
                        dataType: 'json',
                        success: function(response) {
                            console.log(response); // Log the AJAX response for debugging
                            var select = $("#tableNo"); // Select the <select> element
                            select.empty(); // Clear existing options
        
                            // Extract options from the response_data array
                            var options = response.response_data;
        
                            // Add options for each BrTable object
                            $.each(options, function(index, brtable) {
                                select.append($('<option>', {
                                    value: brtable.id,
                                    text: brtable.name
                                }));
                            });
                        },
                        error: function(error) {
                            console.error(error);
                        }
                        
                    });
                    
                
          
          
                    });
          
          
            });
          })(jQuery);       
    </script>
</body>

</html>