{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<br>
<br>


<div class="section mt-2">
    <div class="section-title">Table </div>
<div class="card">
    <div class="card-body">
        <ul class="listview simple-listview">
        {% for table in  tables %}
        <li>
        {% if table.booked %}
        <ion-icon name="flash-off-outline" style='color:red'></ion-icon>
        {% else %}
        <ion-icon name="checkmark-done-outline" style='color:blue'></ion-icon>
        {% endif %} 
        <br>
        {{ table.name }}
        <br>
        {{ table.restaurants.name }}
        <br>
    </li>
        {% endfor %}
    </ul>
    </div>
</div>
</div>
<br>
<br>

{%endblock%}